:root {
  --text-color: #4a4947;
}

@font-face {
  font-family: inter;
  src: url(fonts/inter.ttf);
}

@font-face {
  font-family: textgyreheros;
  src: url(fonts/texgyreheros-regular.otf);
}

/*Full screen*/
html,
body {
  margin: 0;
  height: 100%;
  font-family: textgyreheros;
  letter-spacing: 1px;
  font-size: medium;
}

.slide-text {
  color: #000;
  text-decoration: inherit;
  font-family: textgyreheros;
  position: absolute;
  margin: 1em 1em;
  font-size: xx-large;
  white-space: nowrap;
}

.splide {
  height: 100vh;
}

.splide .splide__arrow {
  background-color: transparent;
}

/* Change the frame size */
.splide .splide__arrow {
  width: 50px;
  height: 50px;
}
/* Change the arrows size */
.splide .splide__arrow svg {
  width: 50%;
  height: 50%;
}

.inner-slide-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}

.inner-slide-container div {
  position: relative;
}

.inner-slide-container img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.inner-item-1-big {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 9;
}

.inner-item-1-small {
  grid-column-start: 9;
  grid-column-end: 11;
  grid-row-start: 4;
  grid-row-end: 9;
}

.inner-item-2-big {
  grid-column-start: 4;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 9;
}

.inner-item-2-small {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 9;
}

.inner-item-3-big {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 3;
  grid-row-end: 9;
}

.inner-item-4-big {
  grid-column-start: 4;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 9;
}

.inner-item-4-small {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 9;
}

.inner-item-5-big {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 3;
  grid-row-end: 9;
}

.inner-item-text {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.prevent-select {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/* Default until here: Large devices such as laptops, computers (greater than 1024px) **/

/* Medium devices such as tablets (1024px or lesser) */
@media only screen and (max-width: 1024px) {
  .inner-item-1-small {
    display: none;
  }
  .inner-item-1-big {
    grid-column-end: 11;
  }
  .inner-item-2-big {
    grid-column-start: 1;
    grid-column-end: 11;
  }

  .inner-item-2-small {
    display: none;
  }

  .inner-item-3-big {
    grid-row-start: 1;
  }
  .slide-3-text {
    color: #fff;
    mix-blend-mode: difference;
  }

  .inner-item-4-big {
    grid-column-start: 1;
  }
  .inner-item-4-small {
    display: none;
  }

  .inner-item-5-big {
    grid-row-start: 1;
  }
  .slide-5-text {
    color: #fff;
    mix-blend-mode: difference;
  }
}

/* Small devices such as phones (768px or lesser) */
@media only screen and (max-width: 768px) {
  /* 
  Opacity on top of the photo
  .first-page-photo{
    -webkit-mask-image: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 90%, rgba(255,255,255,0.19931722689075626) 95%, rgba(255,255,255,0.19931722689075626) 100%);
    mask-image: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 90%, rgba(255,255,255,0.19931722689075626) 95%, rgba(255,255,255,0.19931722689075626) 100%);
  }
  */
  .first-page-photo {
    -webkit-mask-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 93%,
      rgba(255, 255, 255, 0) 93%,
      rgba(255, 255, 255, 0) 100%
    );
    mask-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 93%,
      rgba(255, 255, 255, 0) 93%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .inner-item-1-big {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 9;
  }

  .inner-item-2-big {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 9;
  }

  .inner-item-3-big {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 9;
  }

  .inner-item-text {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .slide-text {
    position: sticky;
    top: 0.5em;
    left: 1em;
    margin: 0;
    padding-left: 5px;
  }

  .slide-3-text {
    color: #000;
  }
  .slide-5-text {
    color: #000;
  }
}

/* 
  ABOUT PAGE
*/

.brand-text-main {
  color: inherit;
  text-decoration: inherit;
  font-family: "textgyreheros";
  /*letter-spacing: 2px;*/
  margin: 10px 10px;
  font-size: x-large;
  white-space: nowrap;
}

.body-container {
  width: 100%;
  box-sizing: border-box;
  margin-top: 2em;
}

.div-left {
  box-sizing: border-box;
  float: left;
  width: 29% - 5em;
  margin-left: 5em;
}
.div-right {
  box-sizing: border-box;
  float: right;
  width: 70%;
}

.link-contact {
  color: #000;
  margin-left: 10px;
}

.portfolio-body {
  margin-top: 2em;
}
.link-brand-work {
  color: #000;
}

.link-studio-1 {
  color: #000;
}
.link-studio-2 {
  color: #000;
}
.link-brand {
  color: #000;
}
.link-ig {
  color: #000;
}
.link-fb {
  color: #000;
}
.link-email {
  color: #000;
}
.link-work {
  color: #000;
}
.link-about {
  color: #000;
  margin-left: 10px;
}

.about-text {
  width: 70%;
  margin-left: 0;
}
.about-text-inner {
  padding-top: 6em;
}

p {
  margin: 0;
}

.social-links-2 {
  display: none;
}

.link-brand-2 {
  display: none;
  color: #000;
}

/* Medium devices such as tablets (1024px or lesser) */
@media only screen and (max-width: 1024px) {
  .about-text {
    width: 80%;
  }
  .div-left {
    margin-left: 2em;
  }
}

/* Small devices such as phones (768px or lesser) */
@media only screen and (max-width: 768px) {
  .div-left-breaks {
    display: none;
  }

  .about-links {
    text-align: right;
  }
  .link-brand-2 {
    display: block;
  }

  .div-left {
    display: none;
  }
  .div-right {
    width: 100%;
    padding-left: 2em;
  }

  .about-text {
    margin-top: 2em;
    width: 90%;
  }
  .social-links-1 {
    display: none;
  }
  .social-links-2 {
    display: block;
  }
  .about-text-inner {
    margin-top: 2em;
    padding-top: 0;
  }
}

/*Portfolio css ---------------------*/

.portfolio-text {
  margin: auto;
  text-align: center;
  width: 100%;
  margin-bottom: 32px;
}

.button-all {
  cursor: pointer;
}
.button-f3 {
  cursor: pointer;
}
.options {
  cursor: pointer;
  margin-right: 2em;
}

.portfolio-column-buttons {
  margin-top: 10px;
  width: 33%;
  display: inline-block;
}
.portfolio-line {
  margin-top: 4px;
  margin-bottom: 32px;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #000;
}

.portfolio-row-buttons {
  width: 100%;
}

.options {
  margin-right: 2em;
}

.project-photo {
  width: 33%;
  height: 500px;
  object-fit: cover;
}

.portfolio {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.project-wrapper {
  position: relative;
  display: inline-block;
  height: 500px;
}

.project-photo {
  margin: 0;
  padding: 0;
  width: 99%;
  height: 99%;
  display: block;
}

.project-photo-mask {
  width: 99%;
  height: 99%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background:rgba(255,255,255,0.7);
}

.project-info {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0, -50%);
  text-align: center;
  cursor: pointer;
  display: none;
  color: #000;
}

/* Medium devices such as tablets (1024px or lesser) */
@media only screen and (max-width: 1024px) {
  .portfolio {
    grid-template-columns: 49.9% 49.9%;
  }
}

/* Small devices such as phones (768px or lesser) */
@media only screen and (max-width: 768px) {
  .portfolio-line {
    visibility: hidden;
    margin-bottom: 16px;
  }
  .project-photo {
    width: 100%;
    height: 200px;
  }
  .portfolio-text {
    width: 90%;
  }
}
