:root{
  --text-color: #4A4947;
}

@font-face {
  font-family: inter;
  src: url(fonts/inter.ttf);
}

@font-face {
  font-family: textgyreheros;
  src: url(fonts/texgyreheros-regular.otf);
}

/*Full screen*/
html,
body {
  margin: 0;
  height: 100%;
  font-family: textgyreheros;
  letter-spacing: 1px;
  font-size: medium;
}

.slide-text {
  color: var(--text-color);
  text-decoration: inherit;
  font-family: textgyreheros;
  position: absolute;
  margin: 1em 1em;
  font-size: xx-large;
  white-space: nowrap;
  mix-blend-mode: difference;
}

.splide {
  height: 100vh;
}

.splide .splide__arrow {
  background-color: transparent;
}

/* Change the frame size */
.splide .splide__arrow {
  width: 50px;
  height: 50px;
}
/* Change the arrows size */
.splide .splide__arrow svg {
  width: 50%;
  height: 50%;
}

.inner-slide-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}

.inner-slide-container div {
  position: relative;
}

.inner-slide-container img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.inner-item-1-big {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 9;
}

.inner-item-1-small {
  grid-column-start: 9;
  grid-column-end: 11;
  grid-row-start: 4;
  grid-row-end: 9;
}

.inner-item-2-big {
  grid-column-start: 4;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 9;
}

.inner-item-2-small {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 9;
}

.inner-item-3-big {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 3;
  grid-row-end: 9;
}

.inner-item-text {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.about-text{
  width: 70%;
  margin-left: 0;
}
.about-text-inner{
  padding-top: 6em;
}

p{
  margin: 0;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

a {
  text-decoration: none; 
  color: var(--text-color); 
}

.body-container{
  width: 100%;
  box-sizing: border-box;
  margin-top: 2em;
}

.div-left{
  box-sizing: border-box;
  float:left;
  width: 29% - 5em;
  margin-left: 5em;
}
.div-right{
  box-sizing: border-box;
  float: right;
  width: 70%;
}

.link-studio-1{
  color:#000;
}
.link-studio-2{
  color:#000;
}
.link-brand{
  color: #000;
}
.link-ig{
  color: #000;
}
.link-fb{
  color: #000;
}
.link-email{
  color: #000;
}
.link-work{
  color:#000;
}
.link-about{
  color: #000;
  margin-left: 10px;
}
.link-contact{
  color: #000;
  margin-left: 10px;
}


.portfolio-body{
  margin-top: 2em;
}
.link-brand-work{
  color: #000;
}



/* Default until here: Large devices such as laptops, computers (greater than 1024px) **/

/* Medium devices such as tablets (1024px or lesser) */
@media only screen and (max-width: 1024px) {

  .inner-item-1-small {
    display: none;
  }
  .inner-item-1-big{
    grid-column-end: 7;
  }
  .inner-item-2-big{
    grid-column-start: 1;
    grid-column-end: 7;
  }


  .inner-item-2-small {
    display: none;
  }

}

/* Small devices such as phones (768px or lesser) */
@media only screen and (max-width: 768px) {

  /* 
  Opacity on top of the photo
  .first-page-photo{
    -webkit-mask-image: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 90%, rgba(255,255,255,0.19931722689075626) 95%, rgba(255,255,255,0.19931722689075626) 100%);
    mask-image: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 90%, rgba(255,255,255,0.19931722689075626) 95%, rgba(255,255,255,0.19931722689075626) 100%);
  }
  */
  .first-page-photo{
    -webkit-mask-image: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 93%, rgba(255,255,255,0) 93%, rgba(255,255,255,0) 100%);
    mask-image: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 93%, rgba(255,255,255,0) 93%, rgba(255,255,255,0) 100%);
  }


  .inner-item-1-big {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 9;
  }
  
  .inner-item-2-big {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 9;
  }

  .inner-item-3-big {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 9;
  }

  .inner-item-text{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .slide-text {
    position: sticky;
    top: 0.5em;
    left: 1em;
    margin: 0;
    padding-left: 5px;
  }
}



/* 
  ABOUT PAGE
*/

.brand-text-main {
  color: inherit;
  text-decoration: inherit;
  font-family: "textgyreheros";
  /*letter-spacing: 2px;*/
  margin: 10px 10px;
  font-size: x-large;
  white-space: nowrap;
}

/* Medium devices such as tablets (1024px or lesser) */
@media only screen and (max-width: 1024px) {

  .about-text{
    width: 75%;
  }
}

/* Small devices such as phones (768px or lesser) */
@media only screen and (max-width: 768px) {

  .about-text{
    width: 90%;
  }
}


/*Portfolio css ---------------------*/


.portfolio-text{
  margin:auto;
  text-align: center;
  width: 100%;
  margin-bottom: 32px;
}

.portfolio-column-buttons{
  display: flow-root;
  margin-top: 10px;
  width: 33%;
  display: inline-block;
}
.portfolio-line {
  margin-top: 4px;
  margin-bottom: 32px;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #000;
}

.portfolio-row-buttons{
  width: 100%;
}

.options{
  padding-right: 2em;
}



.project-photo{
  width: 33%;
  height: 500px;
  object-fit: cover;
}



/* Medium devices such as tablets (1024px or lesser) */
@media only screen and (max-width: 1024px) {

  .project-photo {
    width: 49%;
    height: 300px;
  }
  .portfolio-text{
    margin-top: 16px;
    width: 80%;
  }
}

/* Small devices such as phones (768px or lesser) */
@media only screen and (max-width: 768px) {



  .portfolio-line{
    visibility: hidden;
    margin-bottom: 16px;
  }
  .project-photo {
    width: 100%;
    height: 200px;
  }
  .portfolio-text{
    width: 90%;
  }
}
